@import 'https://fonts.googleapis.com/css?family=Lato';
#overlay {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  #overlay img {
    width: 70%;
    height: auto;
    margin: 5% auto;
    display: block; }
  #overlay:target {
    display: block; }

.modal_content {
  overflow: scroll;
  width: 100%;
  height: 100vh; }

h2 {
  font: bold 40px 'Lato', sans-serif;
  color: #666;
  text-transform: uppercase;
  margin-bottom: 10px;
  vertical-align: top;
  display: block; }

h3 {
  font: bold 16px 'Lato', sans-serif;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 5px;
  vertical-align: top;
  display: inline-block; }

a {
  text-decoration: none;
  padding: 10px 0;
  color: #666; }

p {
  font: 100 16px/1.8 'Lato', sans-serif;
  color: #666;
  padding-bottom: 15px;
  vertical-align: top;
  display: inline-block; }

@media only screen and (min-width: 1101px) {
  .mobile-only {
    display: none; }
  .tablet-only {
    display: none; }
  .check_link {
    color: #484cff;
    font: 900 20px 'Lato', sans-serif;
    border-bottom: solid 3px #484cff; }
  .check_link:hover {
    color: #00FFD4;
    border-bottom: solid 3px #00FFD4; }
  h2 {
    letter-spacing: 6px; }
  .contact {
    margin-top: 10%; } }

@media only screen and (max-width: 1100px) and (min-width: 700px) {
  .desktop-only {
    display: none; }
  .mobile-only {
    display: none; }
  .check_link {
    color: #484cff;
    font: 900 16px 'Lato', sans-serif;
    border-bottom: solid 3px #484cff; }
  .check_link:hover {
    color: #00FFD4;
    border-bottom: solid 3px #00FFD4; }
  h2 {
    font: bold 30px 'Lato', sans-serif; }
  p {
    font: 100 14px/1.8 'Lato', sans-serif;
    width: 100%; }
  .contact {
    margin: 15% 5% 5% 5%; } }

@media only screen and (max-width: 699px) {
  .desktop-only {
    display: none; }
  .tablet-only {
    display: none; }
  .check_link {
    color: #484cff;
    font: 900 13px 'Lato', sans-serif;
    border-bottom: solid 3px #484cff;
    margin-bottom: 5px; }
  .check_link:hover {
    color: #00FFD4;
    border-bottom: solid 3px #00FFD4; }
  h2 {
    font: bold 30px 'Lato', sans-serif;
    padding-top: 5vh; }
  p {
    font: 100 13px/1.8 'Lato', sans-serif;
    width: 100%; }
  .contact {
    margin: 20%; } }

li {
  font: 100 13px/1.5 'Lato', sans-serif;
  color: #666;
  padding-bottom: 5px;
  vertical-align: top; }

@media only screen and (min-width: 700px) and (max-width: 1100px) {
  .hero {
    padding: 5vh 0; }
  nav {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    position: fixed;
    padding-top: 1%;
    top: 0;
    left: 0;
    height: 5%;
    background-color: #fff; }
    nav span {
      text-align: right;
      font: 300 14px 'Lato', sans-serif;
      color: #666;
      vertical-align: top;
      margin: 0 auto;
      padding: 0 15px;
      padding-top: 15px; }
    nav span:hover {
      color: #00FFD4; }
  .gallery {
    position: relative;
    width: 100%;
    padding: 0 0;
    overflow: hidden;
    margin: 0 auto; }
    .gallery .project_1 .teaser {
      display: flex; }
    .gallery .project_1 img {
      width: 100%;
      height: auto;
      display: inline-block;
      overflow: hidden; }
    .gallery .project_1 div {
      display: inline-block;
      padding: 2vh 0; }
    .gallery .project_1 .right {
      position: relative;
      float: right;
      margin-left: 20px;
      left: 20%;
      top: 0; }
    .gallery .project_1 .left {
      position: relative;
      float: left;
      left: 15%;
      top: 0;
      text-align: right;
      padding-right: 2%; }
      .gallery .project_1 .left p {
        margin: 0;
        width: 100%; }
  .project_2 .teaser {
    display: flex;
    background-color: #fafafa;
    position: relative;
    width: 100%;
    padding: 0 0;
    overflow: hidden;
    margin: 0 auto; }
  .project_2 img {
    width: 130%;
    height: auto;
    display: inline-block;
    overflow: hidden; }
  .project_2 div {
    display: inline-block;
    padding: 5vh 0; }
  .project_2 .right {
    position: relative;
    float: right;
    width: 38%;
    margin-left: 20px;
    left: 50%;
    top: 0; }
  .project_2 .left {
    position: relative;
    float: left;
    width: 40%;
    right: 50%;
    top: 0; }
  h2 {
    letter-spacing: 6px;
    margin-top: 10vh; }
  p {
    letter-spacing: 1px; }
  .contact {
    text-align: center;
    margin: 15vh 0 20vh 0;
    border-bottom: solid 1px #c0c0c0;
    padding-bottom: 15vh;
    border-top: solid 1px #c0c0c0;
    padding-top: 15vh; }
    .contact span {
      font: 100 14px 'Lato', sans-serif;
      color: #333;
      display: block;
      vertical-align: top;
      margin: 10px; }
  .next,
  .prev {
    background-color: #fff;
    padding: 15px;
    color: #000;
    text-decoration: none;
    font: 100 15px/1.5 'Lato', sans-serif;
    letter-spacing: 2px;
    position: absolute;
    top: 50%; }
  .next {
    right: 5%; }
  .prev {
    left: 5%; }
  .close {
    position: absolute;
    top: 10px;
    right: 10px; }
  .preview {
    margin: 0 auto;
    width: 70%; }
    .preview .description {
      font: 100 15px/1.5 'Lato', sans-serif;
      letter-spacing: 2px;
      color: #666;
      padding-bottom: 15px;
      vertical-align: top;
      width: 50%; }
  .gallery_sub {
    width: 80%;
    margin: 0 auto; }
  .img_huge {
    width: 100%;
    height: auto;
    margin: auto; }
  .images {
    margin: auto;
    padding-bottom: 5%; }
    .images h2 {
      padding-top: 10vh;
      width: 50%; }
    .images p {
      width: 100%;
      vertical-align: bottom;
      padding-bottom: 10px; }
    .images span {
      font: 100 12px 'Lato', sans-serif;
      color: #b3b3b3;
      vertical-align: top;
      margin: 10px; }
    .images div {
      padding: 20px 20px 20px 20px; }
    .images a {
      padding: 0; }
  .project_next {
    text-align: right;
    margin: 2% 10% 5% 5%; }
    .project_next a:hover,
    .project_next h3:hover {
      color: #00FFD4; }
  .contact {
    text-align: center;
    margin: 15% 5% 5% 5%; }
    .contact span {
      font: 100 14px 'Lato', sans-serif;
      color: #333;
      display: block;
      vertical-align: top;
      margin: 10px; } }

@media only screen and (max-width: 699px) {
  nav {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    position: fixed;
    padding-top: 10px;
    top: 0%;
    left: 1%;
    background-color: #fff;
    height: 5vh; }
    nav span {
      text-align: right;
      font: 300 12px 'Lato', sans-serif;
      color: #666;
      vertical-align: center;
      margin: 5px auto;
      padding-right: 5px;
      padding-top: 5px;
      padding-left: 5px;
      text-transform: uppercase; }
    nav span:hover {
      color: #00FFD4; }
  a {
    padding: 5px; }
  div {
    padding: 0; }
  .hero {
    margin-top: 10vh;
    width: 100%; }
  .gallery {
    width: 95%;
    padding: 0 0;
    overflow: hidden;
    margin: 0 auto; }
    .gallery .project_1 .teaser,
    .gallery .project_2 .teaser {
      display: block;
      margin: 0 auto; }
    .gallery .project_1 img,
    .gallery .project_2 img {
      width: 100%;
      height: auto;
      display: block;
      overflow: auto;
      margin: 20px auto; }
    .gallery .project_1 div,
    .gallery .project_2 div {
      display: inline-block;
      padding: 0 0; }
    .gallery .project_1 .right,
    .gallery .project_2 .right {
      top: auto;
      right: auto;
      left: 0%;
      bottom: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: left; }
    .gallery .project_1 .left,
    .gallery .project_2 .left {
      top: auto;
      right: auto;
      left: 0%;
      bottom: 0;
      width: 100%;
      height: auto;
      text-align: left; }
      .gallery .project_1 .left p,
      .gallery .project_2 .left p {
        margin: 0;
        width: 100%; }
  h2 {
    font: 900 26px 'Lato', sans-serif;
    letter-spacing: 6px;
    margin-top: 10px; }
  p {
    letter-spacing: 1px; }
  .contact {
    text-align: center;
    margin: 15vh 0 20vh 0;
    border-bottom: solid 1px #c0c0c0;
    padding-bottom: 15vh;
    border-top: solid 1px #c0c0c0;
    padding-top: 15vh; }
    .contact span {
      font: 100 14px 'Lato', sans-serif;
      color: #333;
      display: block;
      vertical-align: top;
      margin: 10px; }
  .next,
  .prev {
    background-color: #fff;
    padding: 15px;
    color: #000;
    text-decoration: none;
    font: 100 15px/1.5 'Lato', sans-serif;
    letter-spacing: 2px;
    position: absolute;
    top: 50%; }
  .next {
    right: 5%; }
  .prev {
    left: 5%; }
  .close {
    position: absolute;
    top: 10px;
    right: 10px; }
  .preview {
    margin: 0 auto;
    width: 70%; }
    .preview .description {
      font: 100 15px/1.5 'Lato', sans-serif;
      letter-spacing: 2px;
      color: #666;
      padding-bottom: 15px;
      vertical-align: top;
      width: 50%; }
  .img_huge {
    width: 100%;
    height: auto;
    margin: auto; }
  .images {
    margin: auto;
    padding-bottom: 5%; }
    .images h2 {
      padding-top: 5vh; }
    .images p {
      width: 100%;
      vertical-align: bottom;
      padding-bottom: 0; }
    .images span {
      font: 100 12px 'Lato', sans-serif;
      color: #b3b3b3;
      vertical-align: top;
      margin: 10px; }
    .images a {
      padding: 0; }
  .project_next {
    text-align: right;
    margin: 2% 10% 5% 5%; }
    .project_next a:hover,
    .project_next h3:hover {
      color: #00FFD4; }
  .contact {
    text-align: center; }
    .contact span {
      font: 100 14px 'Lato', sans-serif;
      color: #333;
      display: block;
      vertical-align: top;
      margin: 10px; } }

div {
  padding: 5px; }

@media only screen and (min-width: 1101px) {
  nav {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    position: fixed;
    padding-top: 1%;
    top: 0;
    left: 0;
    height: 4%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10; }
    nav span {
      text-align: right;
      font: 300 14px 'Lato', sans-serif;
      color: #666;
      vertical-align: top;
      margin: 0 auto;
      padding: 0 15px;
      padding-top: 15px; }
    nav span:hover {
      color: #00FFD4; }
  .hero {
    text-align: center;
    padding: 5vh 0;
    width: 100%; }
  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #484CFF;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center; }
  h2 {
    margin-top: 15vh;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 50px; }
  p {
    font: 100 16px/1.8 'Lato', sans-serif;
    color: #666;
    width: 60%;
    padding-bottom: 15px;
    vertical-align: top;
    display: block; }
  .gallery {
    position: relative;
    width: 100%;
    padding: 0 0;
    overflow: hidden;
    margin: 0 auto; }
    .gallery .project_1 .teaser {
      display: flex;
      position: relative;
      width: 100%;
      padding: 0 0;
      overflow: hidden;
      margin: 0 auto; }
    .gallery .project_1 img {
      width: 80%;
      height: auto;
      display: inline-block;
      overflow: hidden;
      margin-left: 10vh; }
    .gallery .project_1 div {
      display: inline-block;
      padding: 5vh 0; }
    .gallery .project_1 .right {
      position: relative;
      float: right;
      margin-left: 40px;
      left: 20%;
      top: 0; }
    .gallery .project_1 .left {
      position: relative;
      float: left;
      left: 15%;
      top: 0;
      text-align: right;
      padding-right: 2%; }
      .gallery .project_1 .left p {
        margin: 0;
        width: 100%; }
    .gallery .project_2 .teaser {
      display: flex;
      background-color: #fafafa;
      position: relative;
      width: 100%;
      padding: 0 0;
      overflow: hidden;
      margin: 0 auto; }
    .gallery .project_2 img {
      width: 120%;
      height: auto;
      display: inline-block;
      overflow: hidden; }
    .gallery .project_2 div {
      display: inline-block;
      padding: 5vh 0; }
    .gallery .project_2 .right {
      position: relative;
      float: right;
      width: 38%;
      margin-left: 20px;
      left: 50%;
      top: 0; }
    .gallery .project_2 .left {
      position: relative;
      float: left;
      width: 40%;
      right: 50%;
      top: 0; }
  .contact {
    text-align: center;
    padding-bottom: 15%;
    border-top: solid 1px #c0c0c0;
    border-bottom: solid 1px #c0c0c0;
    padding-top: 25vh;
    margin: 10vh 0; }
    .contact span {
      font: 100 14px 'Lato', sans-serif;
      color: #666;
      display: block;
      vertical-align: top;
      margin: 10px; }
  .next,
  .prev {
    background-color: #fff;
    padding: 15px;
    color: #666;
    text-decoration: none;
    font: 100 15px/1.5 'Lato', sans-serif;
    letter-spacing: 2px;
    position: absolute;
    top: 50%; }
  .next {
    right: 5%; }
  .prev {
    left: 5%; }
  .close {
    position: absolute;
    top: 10px;
    right: 5%;
    font: 100 20px/1.5 'Lato', sans-serif; }
  .preview {
    margin: 0 auto;
    width: 70%; }
    .preview .description {
      font: 100 15px/1.5 'Lato', sans-serif;
      letter-spacing: 2px;
      color: #666;
      padding-bottom: 15px;
      vertical-align: top;
      width: 80%; }
  .gallery_sub {
    width: 60%;
    margin: 0 auto; }
  .img_huge {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 20px; }
  .images {
    margin: auto;
    padding-bottom: 5%; }
    .images h2 {
      padding-top: 0vh; }
    .images p {
      width: 80%;
      vertical-align: bottom;
      padding-bottom: 30px; }
    .images span {
      font: 100 12px 'Lato', sans-serif;
      color: #b3b3b3;
      vertical-align: top;
      margin: 20px; }
    .images div {
      padding: 20px 20px 20px 20px; }
    .images a {
      padding: 0; } }

.project_next {
  text-align: right;
  margin: -2% 10% 5% 5%;
  border-bottom: solid 2px #484CFF;
  float: right; }
  .project_next h3 {
    color: #484CFF;
    letter-spacing: 6px; }
  .project_next h3:hover {
    color: #00FFD4; }

.project_next:hover {
  border-bottom: solid 2px #00FFD4; }

.contact {
  text-align: center; }
  .contact span {
    font: 100 14px 'Lato', sans-serif;
    color: #666;
    display: block;
    vertical-align: top;
    margin: 10px; }
