@import 'https://fonts.googleapis.com/css?family=Lato';
#overlay {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  #overlay img {
    width: 900px;
    height: auto;
    margin: 5% auto;
    display: block; }
  #overlay:target {
    display: block; }

nav {
  margin: 0 auto;
  display: inline-block;
  width: 100%; }
  nav span {
    text-align: right;
    font: normal 14px 'Lato', sans-serif;
    color: #333;
    vertical-align: top;
    margin: 0;
    padding-right: 30px; }

.start {
  text-align: center;
  margin: 20% 0; }
  .start h1 {
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    color: #00FFD4;
    margin: 20px; }
  .start p {
    font: 100 20px 'Lato', sans-serif;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 12px; }

.gallery {
  margin: 0 auto;
  display: inline-block; }
  .gallery .teaser {
    width: 60%;
    margin: auto; }
  .gallery img {
    width: 60%;
    height: auto;
    display: inline-block;
    float: right; }
  .gallery img:hover {
    opacity: 0.5; }
  .gallery div {
    padding: 20px 20px 50px 20px; }
  .gallery p {
    font: 100 15px/1.5 'Lato', sans-serif;
    letter-spacing: 2px;
    color: #666;
    padding-bottom: 15px;
    vertical-align: top;
    height: 300px;
    width: 25%; }

a {
  text-decoration: none;
  background-color: #fff;
  padding: 15px;
  color: #000;
  text-decoration: none;
  font: 100 15px/1.5 'Lato', sans-serif; }

a:hover {
  color: #00FFD4; }

h2 {
  font: normal 40px 'Lato', sans-serif;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 12px;
  padding-bottom: 20px;
  vertical-align: top; }

.contact {
  text-align: center;
  margin: 5%; }
  .contact p {
    font: 100 14px 'Lato', sans-serif;
    color: #333;
    vertical-align: top;
    margin: 10px; }

.next,
.prev {
  background-color: #fff;
  padding: 15px;
  color: #000;
  text-decoration: none;
  font: 100 15px/1.5 'Lato', sans-serif;
  letter-spacing: 2px;
  position: absolute;
  top: 50%; }

.next {
  right: 5%; }

.prev {
  left: 5%; }

.close {
  position: absolute;
  top: 10px;
  right: 10px; }
