@import 'https://fonts.googleapis.com/css?family=Lato';
#overlay {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  #overlay img {
    width: 70%;
    height: auto;
    margin: 5% auto;
    display: block; }
  #overlay:target {
    display: block; }

.modal_content {
  overflow: scroll;
  width: 100%;
  height: 100vh; }

h2 {
  color: #666;
  text-transform: uppercase;
  margin-bottom: 10px;
  vertical-align: top;
  display: inline-block; }

h3 {
  font: bold 16px 'Lato', sans-serif;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 5px;
  vertical-align: top;
  display: inline-block; }

a {
  text-decoration: none;
  padding: 15px;
  color: #666; }

a:hover h2,
a:hover p,
a:hover {
  color: #00FFD4; }

a:hover img {
  opacity: 0.9; }

p {
  font: 100 14px/1.8 'Lato', sans-serif;
  color: #666;
  padding-bottom: 15px;
  vertical-align: top;
  display: inline-block; }

li {
  font: 100 13px/1.5 'Lato', sans-serif;
  color: #666;
  padding-bottom: 5px;
  vertical-align: top; }

@media only screen and (min-width: 700px) and (max-width: 1275px) {
  nav {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    position: fixed;
    padding-top: 1%;
    top: 0%;
    left: 1%;
    height: 5%;
    background-color: #fff; }
    nav span {
      text-align: right;
      font: 300 14px 'Lato', sans-serif;
      color: #666;
      vertical-align: top;
      margin: 0 auto;
      padding-right: 2px;
      padding-top: 15px; }
    nav span:hover {
      color: #00FFD4; }
  .hero {
    text-align: center;
    width: 100%; }
  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #fff;
    margin: 20px;
    letter-spacing: 10px;
    text-transform: uppercase; }
  h3 {
    font: 100 20px 'Lato', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 12px; } }

.gallery {
  width: 95%;
  margin: 0 auto; }
  .gallery .project_1 .teaser {
    display: flex; }
  .gallery .project_1 img {
    width: 100%;
    height: auto;
    display: inline-block; }
  .gallery .project_1 div {
    display: inline-block;
    padding: 10px; }
  .gallery .project_1 .right {
    float: right;
    width: 50%; }
  .gallery .project_1 .left {
    float: left;
    width: 35%; }

.project_2 .teaser {
  display: flex; }

.project_2 img {
  width: 100%;
  height: auto;
  display: inline-block; }

.project_2 div {
  display: inline-block;
  padding: 10px; }

.project_2 .right {
  float: right;
  width: 35%; }

.project_2 .left {
  width: 50%;
  float: left; }

h2 {
  font: normal 26px 'Lato', sans-serif;
  letter-spacing: 6px; }

p {
  letter-spacing: 1px; }

.contact {
  text-align: center;
  margin: 15vh 0 20vh 0;
  border-bottom: solid 1px #c0c0c0;
  padding-bottom: 15vh;
  border-top: solid 1px #c0c0c0;
  padding-top: 15vh; }
  .contact span {
    font: 100 14px 'Lato', sans-serif;
    color: #333;
    display: block;
    vertical-align: top;
    margin: 10px; }

.next,
.prev {
  background-color: #fff;
  padding: 15px;
  color: #000;
  text-decoration: none;
  font: 100 15px/1.5 'Lato', sans-serif;
  letter-spacing: 2px;
  position: absolute;
  top: 50%; }

.next {
  right: 5%; }

.prev {
  left: 5%; }

.close {
  position: absolute;
  top: 10px;
  right: 10px; }

.preview {
  margin: 0 auto;
  width: 70%; }
  .preview .description {
    font: 100 15px/1.5 'Lato', sans-serif;
    letter-spacing: 2px;
    color: #666;
    padding-bottom: 15px;
    vertical-align: top;
    width: 50%; }

.img_huge {
  width: 100%;
  height: auto;
  margin: auto; }

.images {
  margin: auto;
  padding-bottom: 5%; }
  .images h2 {
    padding-top: 10vh;
    width: 50%; }
  .images p {
    width: 100%;
    vertical-align: bottom;
    padding-bottom: 10px; }
  .images span {
    font: 100 12px 'Lato', sans-serif;
    color: #b3b3b3;
    vertical-align: top;
    margin: 10px; }
  .images div {
    padding: 20px 20px 20px 20px; }
  .images a {
    padding: 0; }
  .images .project_next {
    text-align: right;
    margin: 2% 10% 5% 5%; }
    .images .project_next a:hover,
    .images .project_next h3:hover {
      color: #00FFD4; }
  .images .contact {
    text-align: center;
    margin: 10% 5% 5% 5%; }
    .images .contact span {
      font: 100 14px 'Lato', sans-serif;
      color: #333;
      display: block;
      vertical-align: top;
      margin: 10px; }

@media only screen and (max-width: 699px) {
  nav {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    position: fixed;
    padding-top: 1%;
    top: 0%;
    left: 1%;
    height: 5%;
    background-color: #fff; }
    nav span {
      text-align: right;
      font: 300 14px 'Lato', sans-serif;
      color: #666;
      vertical-align: top;
      margin: 0 auto;
      padding-right: 2px;
      padding-top: 15px; }
    nav span:hover {
      color: #00FFD4; }
  .hero {
    text-align: center;
    width: 100%; }
  .gallery {
    width: 100%;
    margin: 0 auto; }
    .gallery .project_1 .teaser {
      display: flex; }
    .gallery .project_1 img {
      width: 100%;
      height: auto;
      display: inline-block;
      margin: auto; }
    .gallery .project_1 div {
      display: inline-block; }
    .gallery .project_1 .right {
      width: 100%;
      margin: auto; }
    .gallery .project_1 .left {
      width: 100%;
      margin: auto; }
  .project_2 .teaser {
    display: flex; }
  .project_2 img {
    width: 100%;
    height: auto;
    display: inline-block; }
  .project_2 div {
    display: inline-block; }
  .project_2 .right {
    width: 100%; }
  .project_2 .left {
    width: 100%; }
  h2 {
    font: normal 26px 'Lato', sans-serif;
    letter-spacing: 6px; }
  p {
    letter-spacing: 1px; }
  .contact {
    text-align: center;
    margin: 15vh 0 20vh 0;
    border-bottom: solid 1px #c0c0c0;
    padding-bottom: 15vh;
    border-top: solid 1px #c0c0c0;
    padding-top: 15vh; }
    .contact span {
      font: 100 14px 'Lato', sans-serif;
      color: #333;
      display: block;
      vertical-align: top;
      margin: 10px; }
  .next,
  .prev {
    background-color: #fff;
    padding: 15px;
    color: #000;
    text-decoration: none;
    font: 100 15px/1.5 'Lato', sans-serif;
    letter-spacing: 2px;
    position: absolute;
    top: 50%; }
  .next {
    right: 5%; }
  .prev {
    left: 5%; }
  .close {
    position: absolute;
    top: 10px;
    right: 10px; }
  .preview {
    margin: 0 auto;
    width: 70%; }
    .preview .description {
      font: 100 15px/1.5 'Lato', sans-serif;
      letter-spacing: 2px;
      color: #666;
      padding-bottom: 15px;
      vertical-align: top;
      width: 50%; }
  .img_huge {
    width: 100%;
    height: auto;
    margin: auto; }
  .images {
    margin: auto;
    padding-bottom: 5%; }
    .images h2 {
      padding-top: 10vh;
      width: 50%; }
    .images p {
      width: 100%;
      vertical-align: bottom;
      padding-bottom: 10px; }
    .images span {
      font: 100 12px 'Lato', sans-serif;
      color: #b3b3b3;
      vertical-align: top;
      margin: 10px; }
    .images div {
      padding: 20px 20px 20px 20px; }
    .images a {
      padding: 0; }
  .project_next {
    text-align: right;
    margin: 2% 10% 5% 5%; }
    .project_next a:hover,
    .project_next h3:hover {
      color: #00FFD4; }
  .contact {
    text-align: center;
    margin: 10% 5% 5% 5%; }
    .contact span {
      font: 100 14px 'Lato', sans-serif;
      color: #333;
      display: block;
      vertical-align: top;
      margin: 10px; } }

@media only screen and (min-width: 1275px) {
  nav {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    position: fixed;
    padding-top: 1%;
    top: 0%;
    left: 1%;
    height: 5%;
    background-color: #fff; }
    nav span {
      text-align: right;
      font: 300 14px 'Lato', sans-serif;
      color: #666;
      vertical-align: top;
      margin: 0 auto;
      padding-right: 2px;
      padding-top: 15px; }
    nav span:hover {
      color: #00FFD4; }
  .hero {
    text-align: center;
    width: 100%; }
  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #484CFF;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center; }
  h2 {
    font: bold 40px 'Lato', sans-serif;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 12px;
    vertical-align: top;
    display: inline-block; }
  .gallery {
    width: 60%;
    margin: 0 auto; }
    .gallery .project_1 .teaser {
      display: flex; }
    .gallery .project_1 img {
      width: 100%;
      height: auto;
      display: inline-block; }
    .gallery .project_1 div {
      display: inline-block;
      padding: 20px 10px; }
    .gallery .project_1 .right {
      float: right;
      width: 40%; }
    .gallery .project_1 .left {
      float: left;
      width: 50%; }
  .project_2 .teaser {
    display: flex; }
  .project_2 img {
    width: 100%;
    height: auto;
    display: inline-block; }
  .project_2 div {
    display: inline-block;
    padding: 20px 10px; }
  .project_2 .right {
    float: right;
    width: 50%; }
  .project_2 .left {
    float: left;
    width: 40%; }
  .contact {
    text-align: center;
    padding-bottom: 15%;
    border-top: solid 1px #00FFD4;
    border-bottom: solid 1px #00FFD4;
    padding-top: 25vh; }
    .contact span {
      font: 100 14px 'Lato', sans-serif;
      color: #666;
      display: block;
      vertical-align: top;
      margin: 10px; }
  .next,
  .prev {
    background-color: #fff;
    padding: 15px;
    color: #666;
    text-decoration: none;
    font: 100 15px/1.5 'Lato', sans-serif;
    letter-spacing: 2px;
    position: absolute;
    top: 50%; }
  .next {
    right: 5%; }
  .prev {
    left: 5%; }
  .close {
    position: absolute;
    top: 10px;
    right: 5%;
    font: 100 20px/1.5 'Lato', sans-serif; }
  .preview {
    margin: 0 auto;
    width: 70%; }
    .preview .description {
      font: 100 15px/1.5 'Lato', sans-serif;
      letter-spacing: 2px;
      color: #666;
      padding-bottom: 15px;
      vertical-align: top;
      width: 80%; }
  .img_huge {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 20px; }
  .images {
    margin: auto;
    padding-bottom: 5%; }
    .images h2 {
      padding-top: 10vh; }
    .images p {
      width: 80%;
      vertical-align: bottom;
      padding-bottom: 30px; }
    .images span {
      font: 100 12px 'Lato', sans-serif;
      color: #b3b3b3;
      vertical-align: top;
      margin: 20px; }
    .images div {
      padding: 20px 20px 20px 20px; }
    .images a {
      padding: 0; } }

.project_next {
  text-align: right;
  margin: 2% 10% 5% 5%;
  border: solid 3px #00FFD4;
  float: right; }
  .project_next h3 {
    color: #666;
    letter-spacing: 12px; }
  .project_next h3:hover {
    color: #00FFD4; }

.contact {
  text-align: center;
  margin: 10%; }
  .contact span {
    font: 100 14px 'Lato', sans-serif;
    color: #666;
    display: block;
    vertical-align: top;
    margin: 10px; }
