@media only screen and (max-width: 699px) {

  nav {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    position: fixed;
    padding-top: 1%;
    top:0%;
    left: 1%;
    height: 5%;
    background-color: #fff;


    span {
      text-align: right;
      font: 300 14px 'Lato', sans-serif;
      color: #666;
      vertical-align: top;
      margin: 0 auto;
      padding-right: 2px;
      padding-top: 15px;
    }
    span:hover {
      color: #00FFD4;
    }
  }
  .start {
    //margin-bottom: 1%;
  }
  .hero {
    text-align: center;
    //padding: 5vh 0;
    //margin: 5%;
    width: 100%;
  }

  .gallery {
    width: 100%;
    margin: 0 auto;


    .project_1 {

      .teaser {
        //clear: both;
        display: flex;
      }

      img {
        width: 100%;
        height: auto;
        display: inline-block;
        margin: auto;
      }
      div {
        display: inline-block;
      }
      .right {
        width: 100%;
        margin: auto;
      }
      .left {
        width: 100%;
        margin: auto;
      }
    }
  }

  .project_2 {

    .teaser {
      //clear: both;
      display: flex;
    }

    img {
      width: 100%;
      height: auto;
      display: inline-block;
    }
    div {
      display: inline-block;
    }
    .right {
      width: 100%;
    }
    .left {
      width: 100%;
    }
  }


  h2 {
    font: normal 26px 'Lato', sans-serif;
    letter-spacing: 6px;
  }
  p {
    letter-spacing: 1px;
  }


  .contact {
    text-align: center;
    margin: 15vh 0 20vh 0;
    border-bottom: solid 1px #c0c0c0;
    padding-bottom: 15vh;
    border-top: solid 1px #c0c0c0;
    padding-top: 15vh;

    span {
      font: 100 14px 'Lato', sans-serif;
      color: #333;
      display: block;
      vertical-align: top;
      margin: 10px;
    }
  }

  .next,
  .prev {
    background-color: #fff;
    padding: 15px;
    color: #000;
    text-decoration: none;
    font: 100 15px/1.5 'Lato', sans-serif;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
  }
  .next {
    right: 5%;
  }

  .prev {
    left: 5%;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .preview {
    margin: 0 auto;
    width: 70%;

    .description {
      font: 100 15px/1.5 'Lato', sans-serif;
      letter-spacing: 2px;
      color: #666;
      padding-bottom: 15px;
      vertical-align: top;
      width: 50%;
    }
  }

  .img_huge {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .images {
    margin: auto;
    padding-bottom: 5%;

    h2 {
      padding-top: 10vh;
      width: 50%;
    }

    p {
      width: 100%;
      vertical-align: bottom;
      padding-bottom: 10px;
    }
    span {
      font: 100 12px 'Lato', sans-serif;
      color: #b3b3b3;
      vertical-align: top;
      margin: 10px;
    }
    div {
      padding: 20px 20px 20px 20px;
    }
    .content {
      //text-align: center;
    }
    a {
      padding: 0;
    }
  }
  .project_next {
    text-align: right;
    margin: 2% 10% 5% 5%;

    a:hover,
    h3:hover {
      color: #00FFD4;
    }
  }

  .contact {
    text-align: center;
    margin: 10% 5% 5% 5%;
    span {
      font: 100 14px 'Lato', sans-serif;
      color: #333;
      display: block;
      vertical-align: top;
      margin: 10px;
    }
  }
}

