#overlay {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  img {
    width: 70%;
    height: auto;
    margin: 5% auto;
    display: block;
  }

  &:target {
    display: block;
  }
}
.modal_content {
  overflow: scroll;
  width: 100%;
  height: 100vh;
}


h2 {
  color: #666;
  text-transform: uppercase;
  margin-bottom: 10px;
  vertical-align: top;
  display:inline-block;
  }

h3 {
  font: bold 16px 'Lato', sans-serif;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 5px;
  vertical-align: top;
  display: inline-block;

}

a {
  text-decoration: none;
  padding: 15px;
  color: #666;
}

a:hover h2,
a:hover p,
a:hover  {
  color: #00FFD4;
}

a:hover img{
  opacity: 0.9;
}


p
  {
  font: 100 14px/1.8 'Lato', sans-serif;
  color: #666;
  padding-bottom: 15px;
  vertical-align: top;
  display: inline-block;
}

li {
  font: 100 13px/1.5 'Lato', sans-serif;
  color: #666;
  padding-bottom: 5px;
  vertical-align: top;
}


